body {
    background-image: url('beach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d6f5ff;
}

#container {
    height: 90vh;
    background-color: rgba(250, 250, 250, 0.90);
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
}

#container>table{
    height: 80vh;
}

#tryit {
    margin-top: 50px;
    width: 100%;
}

h1 {
    color: #444444;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

h3 {
    color: #4575b4;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", 'Geneva', 'Verdana', sans-serif;
    margin-right: 20px;
}

#accuracy, #valid {
    color: #f46d43;
    font-weight: bold;
}

.left_container {
    width: 29.5%;
    background-color: #74ADD1;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    font-size: 18px;
}

.margin_container {
    width: 1%;
}

.right_container {
    width: 69.5%;
    background-color: #ccdffa;
    padding: 20px;
    border-radius: 10px;

}

.text_dark {
    color: #4575b4;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

#input_form{
    width: 40%;
}

#input_form > table {
    width: 100%;
}

#result{
    width: 60%;
}

#result > div {
    width: 75%;
    margin: auto;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", 'Geneva', 'Verdana', sans-serif;
    font-size: 20px;
}

.result_text {
    color: #4575b4;
}

.result_number {
    color: #f46d43;
}

#error {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 30px;
    color: #f46d43;
}

#button_container{
    margin-top: 20px;
}

#button {
    width: 50px;
    padding: 8px 14px;
    border-radius:10px;
    border: solid #4575b4 2px;
    color: #4575b4;
    font-size: 16px;
    font-weight: bold;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", 'Geneva', 'Verdana', sans-serif;
}

#button:hover{
    border: solid #fdfdfd 2px;
    color: #fdfdfd;
    background-color: #4575b4;
    cursor: pointer;
}